@using CareerExplorer.Web.DTO
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@model RecruiterProfileDTO
<div class="row mb-3">
    <div class="col-md-2">
        <partial name="_RecrMenuPartial" />
    </div>
    <div class="col-md-10">
        @if(!Model.IsFilled)
        {
            <span class="text-danger">@Localizer["Fill your profile to send it for review and start posting vacancies."]</span>
        }
        else if(Model.IsFilled && !Model.IsAccepted)
        {
            <span>
                <i class="bi bi-clock"></i>
                @Localizer["Your profile is on review."]
            </span>
        }
        else
        {
            <span><i class="bi bi-check2"></i>
                @Localizer["Profile is verified!"]</span>
        }
        <form method="post" asp-action="GetProfile">
            <div asp-validation-summary="ModelOnly" class="text-danger" role="alert"></div>
            <input asp-for="Id" hidden />
            <input asp-for="UserId" hidden />
            <div class="form-floating mb-3">
                <input asp-for="Name" class="form-control" placeholder="" />
                <label class="form-label">@Localizer["Enter your name"]</label>
                <span asp-validation-for="Name" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Surname" class="form-control" placeholder="" />
                <label class="form-label">@Localizer["Enter your surname"]</label>
                <span asp-validation-for="Surname" class="text-danger"></span>
            </div>
            <div class="form-floating mb-3">
                <input asp-for="Company" class="form-control" placeholder="" />
                <label class="form-label">@Localizer["Enter your company"]</label>
                <span asp-validation-for="Company" class="text-danger"></span>
            </div>
             <div class=" mb-3">
                <label asp-for="CompanyDescription">@Localizer["Information"]</label>
                    <textarea rows="7" asp-for="CompanyDescription" class="form-control"></textarea>
                    <span asp-validation-for="CompanyDescription" class="text-danger"></span>
                </div>
            <button asp-controller="RecruiterProfile" asp-action="GetProfile" type="submit" class="btn btn btn-primary">@Localizer["Save"]</button>
        </form>
    </div>
</div>
