@using Microsoft.AspNetCore.Mvc.Localization
@using CareerExplorer.Web.DTO;

@model ApplicantDTO
@inject IViewLocalizer Localizer

<div class="row mb-3">
    <div class="col-md-2">
        <partial name="_RecrMenuPartial" />
    </div>
    <div class="col-md-10">
        <h1>@Model.Name @Model.Surname</h1>
        <p>@Model.Experience</p>
        <h4>@Localizer["Contacts"]</h4>
        <span>@Localizer["Phone"]</span>
        <h5>@Model.Phone</h5>
        <span>@Localizer["GitHub"]</span>
        <h5>@Model.GitHub</h5>
        <a id="viewCvBtn" class="btn btn-primary" data-jobseeker-id="@Model.Id" data-vacancy-id="@Model.VacancyId">@Localizer["View attached CV"]</a>
        <a asp-controller="Chat" asp-action="GetChat" asp-route-receiverId="@ViewBag.ReceiverId">Send message</a>
    </div>
</div>


@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).on('click', '#viewCvBtn', function () {
            var jobSeekerId = $(this).data('jobseeker-id');
            var vacancyId = $(this).data('vacancy-id');
            $.ajax({
                url: '/Vacancy/GetCv?jobSeekerId=' + jobSeekerId + '&vacancyId=' + vacancyId,
                method: 'GET',
                xhrFields: {
                    responseType: 'arraybuffer'
                },
                success: function (data) {
                    var blob = new Blob([data], { type: 'application/pdf' }); 
                    var url = URL.createObjectURL(blob);
                    $('#cvContent').html('<embed src="' + url + '" type="application/pdf" width="100%" height="600px" />'); 
                    $('#viewCvModal').modal('show');
                }
            });
        });
        $(document).on('click', '#closeCvBtn', function () {
            $('#viewCvModal').modal('hide');
        });
    </script>
}

@Html.Partial("_FileContentPartial")