
@using CareerExplorer.Web.DTO;
@model ApplicantDTO

<div class="row mb-3">
    <div class="col-md-2">
        <partial name="_RecrMenuPartial" />
    </div>
    <div class="col-md-10">
        <h1>@Model.Name @Model.Surname</h1>
        <p>@Model.Experience</p>
        <h4>Contacts:</h4>
        <span>Phone</span>
        <h5>@Model.Phone</h5>
        <span>GitHub</span>
        <h5>@Model.GitHub</h5>
        <a id="viewCvBtn" class="btn btn-primary" data-jobseeker-id="@Model.Id" data-vacancy-id="@Model.VacancyId">View attached CV</a>
    </div>
</div>

@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        

        $(document).on('click', '#viewCvBtn', function () {
            var jobSeekerId = $(this).data('jobseeker-id');
            var vacancyId = $(this).data('vacancy-id');
            $.ajax({
                url: '/Vacancy/GetCv?jobSeekerId=' + jobSeekerId + '&vacancyId=' + vacancyId,
                method: 'GET',
                xhrFields: {
                    responseType: 'arraybuffer'
                },
                success: function (data) {
                    var blob = new Blob([data], { type: 'application/pdf' }); // or 'application/vnd.openxmlformats-officedocument.wordprocessingml.document' for DOCX files
                    var url = URL.createObjectURL(blob);
                    $('#cvContent').html('<embed src="' + url + '" type="application/pdf" width="100%" height="600px" />'); // or 'type="application/vnd.openxmlformats-officedocument.wordprocessingml.document"' for DOCX files
                    $('#viewCvModal').modal('show');
                }
            });
        });
    </script>
}
@Html.Partial("_FileContentPartial")