@using CareerExplorer.Core.Entities;
@using CareerExplorer.Core.Enums;
@using CareerExplorer.Web.DTO;
@using Microsoft.AspNetCore.Identity;
@using CareerExplorer.Shared;
@using Microsoft.AspNetCore.Mvc.Localization
@model VacancyDTO

@inject UserManager<IdentityUser> UserManager
@inject IViewLocalizer Localizer
<div class="container-md">
    <div class="row">
        <div class="col-md-8">
            <div class="row">
                <div class="col-10">
                    <h1>@Model.Position.Name</h1>
                </div>
                <div class="col-2">
                    <i class="bi bi-people-fill"></i> @ViewBag.ApplicantsCount <i class="bi bi-eye-fill"></i> @Model.Views
                </div>
            </div>   
            <h4 style="font-size:15px;" class="mb-0">@Model.CompanyName</h4>
            <p class="mb-3">@Model.CreatorNickName</p>
            <p>@Model.Description</p>
            <h6 style="font-size:15px;">
                @Localizer["About company"]
            </h6>
            <p>
                @Model.CompanyDesciprion
            </p>
            <span>@Localizer["Published"]: @Model.CreatedDate.ToShortDateString()</span>
            @if (User.IsInRole(UserRoles.JobSeeker))
            {
                    @if(!Model.IsApplied)
                    {
                        @if (ViewBag.IsProfileAccepted && ViewBag.IsProfileFilled)
                        {
                    <div id="apply-container">
                        <button class="btn btn-primary mt-3 mb-3" id="apply-button">@Localizer["Apply"]</button>
                    <form id="application-form" style="display:none;">
                        <input id="id-input" name="vacancyId" value="@Model.Id" type="hidden">
                            <label for="file-input" class="form-label mt-4">@Localizer["Attach"]</label>
                            <input class="form-control" type="file" id="file-input" accept=".pdf"/>
                            <button style="display:block" class="btn btn-primary mt-3" id="apply-btn" type="post">@Localizer["Submit"]</button>
                    </form>
                    </div>
                        }
                        else
                        {
                        <p class="text-danger mt-2">@Localizer["To apply fill your profile."]</p>
                        <a style="display:inline-block" class="btn btn-primary" asp-controller="JobSeekerProfile" asp-action="GetProfile">@Localizer["Go to profile"]</a>
                        }

                    }
                    else
                    {
                        <button style="display:block" class="btn btn-primary mt-3" disabled>@Localizer["Applied"]</button>
                    }
               
            }
        </div>
        <div class="col-md-4">
            <div class="card bg-secondary mb-3" style="max-width: 20rem;">
                <div class="card-body">
                    

                    <ul>
                            @if (Model.Country != null && Model.City != null)
                            {
                                <li>
                                <p><i class="bi bi-geo-alt-fill"></i>@Model.Country.Name, @Model.City.Name</p>
                                </li>
                            }
                            else if (Model.Country != null)
                            {
                                <li>
                                <p><i class="bi bi-geo-alt-fill"></i>@Model.Country.Name</p>
                                </li>
                            }
            
                            @if (Model.WorkType != null)
                            {
                                <li>
                                <p>@Localizer["Work Location"]: @((WorkType)Model.WorkType)</p>
                                </li>
                            }
                            @if (Model.Salary != null)
                            {
                                <li>
                                <p>@Localizer["Salary"]: @Model.Salary$</p>
                                </li>
                            }
            
                            @if (Model.EnglishLevel != null)
                            {
                                <li>
                                <p>@Localizer["English level"]: @((EnglishLevel)Model.EnglishLevel)</p>
                                </li>
                            }
                            @if (Model.ExperienceYears != null)
                            {
                                <li>
                                @if (Model.ExperienceYears == 6)
                                {
                                    <p>
                                        @Localizer["Experience"]: 6+ @Localizer["years"]
                                    </p>
                                }
                                else
                                {
                                    <p>@Localizer["Experience"]: @Model.ExperienceYears @Localizer["years"]</p>
                                }
                                </li>
                            }
            
            
                    </ul>
                    <div>
                        @foreach (var skillTag in Model.Requirements)
                        {
                            <span class="badge rounded-pill bg-primary">@skillTag.Title</span>
                        }
                    </div>
            </div>
            </div>
        </div>
    </div>
</div>
@if(User.IsInRole(UserRoles.JobSeeker))
{
    var user = await UserManager.GetUserAsync(User);
    if(user is AppUser)
    {
        var jobSeekerProfile = ((AppUser)user).JobSeekerProfile;
        if(!jobSeekerProfile.IsSubscribedToNotification)
        {
            <div class="modal" id="notification-modal">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-body">
                            <p>@Localizer["Subscribe to receive new vacancies."]</p>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-primary" id="subscribe-btn">@Localizer["Subscribe"]</button>
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">@Localizer["Close"]</button>
                        </div>
                    </div>
                </div>
            </div>
        }
    }
}

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#apply-button").click(function () {
            $("#application-form").show();
        });
    });

    $(document).ready(function () {
        $('#apply-btn').click(function (e) {
            e.preventDefault();
            var formData = new FormData();
            var fileInput = $('#file-input')[0];
            var file = fileInput.files[0];
            var allowedExtensions = ['pdf'];

            if (file && file.size > 0) {
                var extension = file.name.split('.').pop().toLowerCase();
                if (allowedExtensions.indexOf(extension) === -1) {
                    alert('Invalid file extension. Please select a PDF file.');
                    return;
                }
                formData.append('file', file);
                formData.append('vacancyId', document.getElementById('id-input').value);
                $.ajax({
                    url: '/JobSeekerProfile/Apply',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $('#apply-btn').text('@Localizer["Sent"]');
                        $('#apply-btn').prop('disabled', true);
                        $('#file-input').prop('disabled', true);
                        $('#notification-modal').modal('show');
                    },
                    error: function () {
                        alert('An error occurred while submitting your application. Please try again later.');
                    }
                });
            } else {
                alert('Please select a file to upload.');
            }
        });
    });
    $(document).ready(function () {
        $("#subscribe-btn").click(function () {
            $.ajax({
                url: '/Notifications/Subscribe',
                type: 'POST',
                success: function (response) {
                    $('#notification-modal').modal('hide');
                },
                error: function () {
                    alert('An error occurred while subscribing to notifications. Please try again later.');
                }
            });
        });
    });
</script>


