@using CareerExplorer.Web.DTO;
@using Microsoft.AspNetCore.Identity;
@using CareerExplorer.Shared;
@using Microsoft.AspNetCore.Mvc.Localization
@model VacancyDTO

@inject UserManager<IdentityUser> UserManager
@inject IViewLocalizer Localizer
<div class="container-md">
    <div class="row">
        <div class="col-md-8">

            <h1>@Model.Position.Name</h1>
            <span>@Model.CreatorNickName</span>
            <p>@Model.Description</p>
            <span>Published: @Model.CreatedDate.ToShortDateString()</span>
            @if (User.IsInRole(UserRoles.JobSeeker))
            {
                @if(!Model.IsApplied)
                {
                    <div id="apply-container">
                        <button class="btn btn-primary mt-3 mb-3" id="apply-button">@Localizer["Apply"]</button>
                    <form id="application-form" style="display:none;">
                        <input id="id-input" name="vacancyId" value="@Model.Id" type="hidden">
                            <label for="file-input" class="form-label mt-4">@Localizer["Attach"]</label>
                            <input class="form-control" type="file" id="file-input">
                            <button style="display:block" class="btn btn-primary mt-3" id="apply-btn" type="post">@Localizer["Submit"]</button>
                    </form>
                    </div>
                }
                else
                {
                    <button style="display:block" class="btn btn-primary mt-3" disabled>@Localizer["Applied"]</button>
                }
                
            }
        </div>
        <div class="col-md-4">

        </div>
    </div>
</div>
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    $(document).ready(function () {
        $("#apply-button").click(function () {
            $("#application-form").show();
        });
    });

    $(document).ready(function () {
        $('#apply-btn').click(function (e) {
            e.preventDefault();
            var formData = new FormData();
            var fileInput = $('#file-input')[0];
            var file = fileInput.files[0];
            var allowedExtensions = ['pdf'];

            if (file && file.size > 0) {
                var extension = file.name.split('.').pop().toLowerCase();
                if (allowedExtensions.indexOf(extension) === -1) {
                    alert('Invalid file extension. Please select a PDF file.');
                    return;
                }
                formData.append('file', file);
                formData.append('vacancyId', document.getElementById('id-input').value);
                $.ajax({
                    url: '/JobSeekerProfile/Apply',
                    type: 'POST',
                    data: formData,
                    contentType: false,
                    processData: false,
                    success: function (response) {
                        $('#apply-btn').text('@Localizer["Sent"]');
                        $('#apply-btn').prop('disabled', true);
                        $('#file-input').prop('disabled', true);
                    },
                    error: function () {
                        alert('An error occurred while submitting your application. Please try again later.');
                    }
                });
            } else {
                alert('Please select a file to upload.');
            }
        });
    });
</script>


