@using CareerExplorer.Web.DTO;
@model RecruiterProfileDTO
<div class="row">
    <div class="col-md-2">
        <partial name="_AdminMenuPartial" />
    </div>
    <div class="col-md-10">
        <h1>@Model.Name @Model.Surname</h1>
        <h2>@Model.Company</h2>
        <p>@Model.CompanyDescription</p>
        <a asp-controller="Admin" asp-action="AcceptRecruiterProfile" asp-route-id=@Model.Id class="btn btn-primary mt-2">Accept</a>
    </div>
</div>
@*@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>
        function acceptButtonClick() {
            var id = @Model.Id; 
            console.log("clicked");
            $.ajax({
                type: "POST",
                url: "/Admin/AcceptRecruiterProfile",
                data: { id: id },
                success: function (response) {
                    console.log(response);
                    $("#accept").text("Accepted");
                    $('#accept').prop('disabled', true);
                },
                error: function () {
                    alert("Failed to accept");
                }
            });
        }
    </script>
}*@