@using CareerExplorer.Web.DTO;
@model VacancyDTO
<div class="row">
    <div class="col-md-2">
        <partial name="_AdminMenuPartial" />
    </div>
    <div class="col-md-10">
        <h1>@Model.Position.Name</h1>
        <p>@Model.CreatorNickName</p>
        <span>@Model.CreatorName @Model.CreatorSurname</span>
        <hr />
        <p>@Model.Description</p>
        <span>@(Model.IsAvailable ? "Available" : "Not available")</span>
        <a asp-controller="Admin" asp-action="AcceptVacancy" asp-route-id=@Model.Id class="btn btn-primary mt-2">Accept</a>
    </div>
</div>
@section Scripts {
    <script>
        function acceptButtonClick() {
            var id = @Model.Id; 
            $.ajax({
                type: "POST",
                url: "/Admin/AcceptVacancy",
                data: { id: id },
                success: function (response) {
                    console.log(response);
                        $("#accept").text("Accepted");
                        $('#accept').prop('disabled', true);
                },
                error: function () {
                    alert("Failed to accept");
                }
            });
        }
    </script>
}