@using CareerExplorer.Web.DTO;
@model JobSeekerViewProfileDTO
<div class="row">
    <div class="col-md-2">
        <partial name="_AdminMenuPartial" />
    </div>
    <div class="col-md-10">
        <h1>@Model.Name @Model.Surname</h1>
        <span>@Model.NickName</span>
        <p>@Model.Experience</p>
        <p>@Model.Phone</p>
        <a asp-controller="Admin" asp-action="AcceptJobSeekerProfile" asp-route-id=@Model.Id class="btn btn-primary mt-2">Accept</a>
    </div>
</div>
32771
@*<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script>
    //todo:remove
    //$(document).ready(function () {
    //    $("#accept").click(function () {
    //        $.ajax({
    //            url: '/Admin/AcceptJobSeekerProfile',
    //            type: 'POST',
    //            data: { id: id },
    //            success: function (response) {
    //                console.log(response);
    //                $("#accept").text("Accepted");
    //                $('#accept').prop('disabled', true);
    //            },
    //            error: function (error) {
    //                alert(error.message);
    //                alert("Failed to accept");
    //            }
    //        });
    //    });
    //});


    function acceptButtonClick() {
        var id = @Model.Id;
        console.log("clicked");
        $.ajax({
        url: '/Admin/AcceptJobSeekerProfile',
            type: 'POST',                
            data: { id: id },
            success: function (response) {
                console.log(response);
                $("#accept").text("Accepted");
                $('#accept').prop('disabled', true);
            },
            error: function (error) {
                alert(error.message);
                alert("Failed to accept");
            }
        });
    }
</script>*@