@using CareerExplorer.Shared;
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization

@inject IViewLocalizer Localizer
@inject SignInManager<IdentityUser> SignInManager
@inject UserManager<IdentityUser> UserManager
<ul class="navbar-nav">
@if (SignInManager.IsSignedIn(User))
{
        @if(User.IsInRole(UserRoles.JobSeeker))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> @UserManager.GetUserName(User)</a>
          <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="JobSeekerProfile" asp-action="GetProfile">@Localizer["Profile"]</a>
                    <a class="dropdown-item" asp-controller="Chat" asp-action="GetJobSeekerChats">Chats</a>
            
            <div class="dropdown-divider"></div>
                    <form class="dropdown-item" id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("GetAll", "Vacancy", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">@Localizer["Logout"]</button>
            </form>
          </div>
        </li>
            
        }
        else if (User.IsInRole(UserRoles.Recruiter))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> @UserManager.GetUserName(User)</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="RecruiterProfile" asp-action="GetProfile">@Localizer["Profile"]</a>
                    <a class="dropdown-item" asp-controller="Vacancy" asp-action="CreatedVacancies">Vacancies</a>
                    <div class="dropdown-divider"></div>
                    <form class="dropdown-item" id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("GetAll", "Vacancy", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">@Localizer["Logout"]</button>
                    </form>
                </div>
            </li>
        }
        else if (User.IsInRole(UserRoles.Admin))
        {
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"> @UserManager.GetUserName(User)</a>
                <div class="dropdown-menu">
                    <a class="dropdown-item" asp-controller="Admin" asp-action="GetSkillsTags">@Localizer["Tags"]</a>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="GetPositions">@Localizer["Positions"]</a>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="GetVacanciesToAccept">Vacancies</a>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="GetRecruitersToAccept">Recruiters</a>
                    <a class="dropdown-item" asp-controller="Admin" asp-action="GetJobSeekersToAccept">JobSeekers</a>
                    <div class="dropdown-divider"></div>
                    <form class="dropdown-item" id="logoutForm" class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Action("GetAll", "Vacancy", new { area = "" })">
                        <button id="logout" type="submit" class="nav-link btn btn-link text-dark border-0">@Localizer["Logout"]</button>
                    </form>
                </div>
            </li>
        }
}
else
{
    <li class="nav-item">
            <a class="nav-link" id="register" asp-area="Identity" asp-page="/Account/Register">@Localizer["Register"]</a>
    </li>
    <li class="nav-item">
            <a class="nav-link" id="login" asp-area="Identity" asp-page="/Account/Login">@Localizer["Login"]</a>
    </li>
}
</ul>
