@using Microsoft.AspNetCore.Mvc.Localization
@using CareerExplorer.Web.DTO;

@model ApplicantDTO
@inject IViewLocalizer Localizer

<div class="row mb-3">
    <div class="col-md-2">
        <partial name="_RecrMenuPartial" />
    </div>
    <div class="col-md-10">
        <hr />
        @if(Model.DesiredPosition != null)
        {
            <h1>@Model.DesiredPosition.Name</h1>
        } 
        <h3 style="font-size:20px;">@Model.Name @Model.Surname</h3>
        <p>@Model.Experience</p>
        <div class="row mb-3">
            <div class="col-6">
                <h2 style="font-size:15px;">Skills</h2>
        @if(Model.Skills.Count() > 0)
        {
            <ul style="list-style:none;">
                @foreach(var skill in Model.Skills)
                {
                <li>
                    <span class="badge rounded-pill bg-primary">@skill.Title</span>
                </li>
                }
            </ul>           
        }
            </div>
            <div class="col-6">
                <h4 style="font-size:15px;">@Localizer["Contacts"]</h4>
                @if (Model.Phone != null)
                {
                    <h5><i class="bi bi-telephone-fill"></i>@Model.Phone</h5>
                }
                @if (Model.GitHub != null)
                {
                    <a href="@Model.GitHub"><i class="bi bi-github"></i> @Model.GitHub</a>
                }
                @if (Model.LinkedIn != null)
                {
                    <span>LinkedIn</span>
                    <a href="@Model.LinkedIn"><i class="bi bi-linkedin"></i> @Model.LinkedIn</a>
                }


                @if (Model.Country != null && Model.City != null)
                {
                    <p><i class="bi bi-geo-alt-fill"></i>@Model.Country.Name, @Model.City.Name</p>
                }
                else if (Model.Country != null)
                {
                    <p><i class="bi bi-geo-alt-fill"></i>@Model.Country.Name</p>

                }
            </div> 
            <hr />
        </div>

        <a id="viewCvBtn" class="btn btn-primary" data-jobseeker-id="@Model.Id" data-vacancy-id="@Model.VacancyId">@Localizer["View attached CV"]</a>
        <a class="btn btn-primary" asp-controller="Chat" asp-action="GetChat" asp-route-receiverId="@ViewBag.ReceiverId">Send message</a>
    </div>
</div>


@section scripts {
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script>

        $(document).on('click', '#viewCvBtn', function () {
            var jobSeekerId = $(this).data('jobseeker-id');
            var vacancyId = $(this).data('vacancy-id');
            $.ajax({
                url: '/Vacancy/GetCv?jobSeekerId=' + jobSeekerId + '&vacancyId=' + vacancyId,
                method: 'GET',
                xhrFields: {
                    responseType: 'arraybuffer'
                },
                success: function (data) {
                    var blob = new Blob([data], { type: 'application/pdf' }); 
                    var url = URL.createObjectURL(blob);
                    $('#cvContent').html('<embed src="' + url + '" type="application/pdf" width="100%" height="600px" />'); 
                    $('#viewCvModal').modal('show');
                }
            });
        });
        $(document).on('click', '#closeCvBtn', function () {
            $('#viewCvModal').modal('hide');
        });
    </script>
}

@Html.Partial("_FileContentPartial")